<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>블로그 | 상세</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="stylesheet" href="/static/assets/css/detail.css" />
		<script>
      function modify(){
        if($('#title').is(":disabled")){
          $("#title").removeAttr("disabled");
          $("#content").removeAttr("disabled");
          $("#password").removeAttr("disabled");
          $("#author").removeAttr("disabled");
          $("#mod").val("저장");
        }
        else{
        $.ajax({
          type: "PATCH",
          url: `/api/post/`+$('#postId').val(),
          data: {title:$('#title').val(),content:$('#content').val(),password:$('#password').val(),author:$('#author').val()},
          success: function(response) {
			  if(response['result']=='success'){
            	alert("수정되었습니다.")
				redirect();
			  }
			  else{
				  alert("비밀번호가 다릅니다.")
			  }
          }
          });
        }
      }
      function deletePost(){
        $.ajax({
          type: "DELETE",
          url: `/api/post/`+$('#postId').val(),
          data: {password:$('#password').val()},
          success: function(response) {
			  if(response['result']=='success'){
            	alert("삭제되었습니다.")
				redirect();
			  }
			  else{
				  alert("비밀번호가 다릅니다.")
			  }
          }
          });
      }
				function redirect(){
					window.location.href="/";
				}
		</script>
	</head>
	<body class="is-preload">

		<!-- Header -->
    <a href='/'>
			<div id="header">
				<span class="logo icon fa-paper-plane"></span>
				<h1>Hanghae99</h1>
				<p>Node.js Blog / board</p>
			</div>
    </a>

		<!-- Main -->
			<div id="main">
				<div class="box alt container">
					<section>
						<div id="mod-form">
							<div class="row">
								<div class="col-12">
									<input type="text" name="title" id="title" disabled/>
								</div>
								<div class="col-6 col-12-mobilep">
									<input type="text" name="author" id="author" disabled/>
								</div>
								<div class="col-6 col-12-mobilep">
									<input type="password" name="password" id="password" placeholder="Password" disabled/>
								</div>
								<div class="col-12">
									<input type="text" name="date" id="date" disabled/>
								</div>
								<div class="col-12">
									<textarea name="content" id="content" rows="6"disabled></textarea>
								</div>
                				<input type='hidden' id="postId"/>
								<div class="col-12">
									<ul class="actions special">
										<li><input type="button" id="mod" value="수정" onclick="modify()"/></li>
										<li><input type="button" id="del" value="삭제" onclick="deletePost()"/></li>
									</ul>
								</div>
							</div>
						</div> 
					</section>
					<section>
						<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
						<div class="container">
						<div class="be-comment-block" id="comment-block">
							<h1 class="comments-title">Comments </h1>
							<form method="post" action="/api/comment">
								<input type="hidden" id="commentPostId" name="postId"/>
								<input type="hidden" name="author" value="1"/>
									<div class="col-xs-12">									
										<div class="form-group">
											<textarea class="form-input" name="content" required placeholder="Your text"
											oninvalid="alert('댓글 내용을 입력해주세요.')"></textarea>
										</div>
									</div>
									<button type="submit" class="btn btn-primary pull-right">submit</button>
							</form>
							
							
						</div>
						</div>
					</section>
				</div>
			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/detail.js"></script>

	</body>
</html>