<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Directive by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<script>
				function redirect(){
					window.location.href="/";
				}
		</script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">
				<span class="logo icon fa-paper-plane"></span>
				<h1>Hanghae99</h1>
				<p>Node.js Blog / board</p>
			</div>

		<!-- Main -->
			<div id="main">
				<div class="box alt container">
					<section>
						<form method="post" action="/api/post">
							<div class="row">
								<div class="col-12">
									<input type="text" name="title" id="title" disabled/>
								</div>
								<div class="col-6 col-12-mobilep">
									<input type="text" name="author" id="author" disabled/>
								</div>
								<div class="col-6 col-12-mobilep">
									<input type="password" name="password" id="password" placeholder="Password" disabled/>
								</div>
								<div class="col-12">
									<input type="text" name="date" id="date" disabled/>
								</div>
								<div class="col-12">
									<textarea name="content" id="content" rows="6"disabled></textarea>
								</div>
								<div class="col-12">
									<ul class="actions special">
										<li><input type="submit" value="수정" onclick="redirect()"/></li>
										<li><input type="submit" value="삭제" onclick="redirect()"/></li>
									</ul>
								</div>
							</div>
						</form> 
					</section>
				</div>
			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/detail.js"></script>

	</body>
</html>