<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Directive by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<script>
      function modify(){
        if($('#title').is(":disabled")){
          $("#title").removeAttr("disabled");
          $("#content").removeAttr("disabled");
          $("#password").removeAttr("disabled");
          $("#author").removeAttr("disabled");
          $("#mod").val("저장");
        }
        else{
          $("#mod-form")[0].submit();
            redirect();
        }
      }
      function deletePost(){
        $.ajax({
          type: "DELETE",
          url: `/api/post/`+$('#postId').val(),
          data: {},
          success: function(response) {
            redirect();
          }
          });
      }
				function redirect(){
					window.location.href="/";
				}
		</script>
	</head>
	<body class="is-preload">

		<!-- Header -->
    <a href='/'>
			<div id="header">
				<span class="logo icon fa-paper-plane"></span>
				<h1>Hanghae99</h1>
				<p>Node.js Blog / board</p>
			</div>
    </a>

		<!-- Main -->
			<div id="main">
				<div class="box alt container">
					<section>
						<form method="patch" action="/api/post" id="mod-form">
							<div class="row">
								<div class="col-12">
									<input type="text" name="title" id="title" disabled/>
								</div>
								<div class="col-6 col-12-mobilep">
									<input type="text" name="author" id="author" disabled/>
								</div>
								<div class="col-6 col-12-mobilep">
									<input type="password" name="password" id="password" placeholder="Password" disabled/>
								</div>
								<div class="col-12">
									<input type="text" name="date" id="date" disabled/>
								</div>
								<div class="col-12">
									<textarea name="content" id="content" rows="6"disabled></textarea>
								</div>
                <input type='hidden' id="postId"/>
								<div class="col-12">
									<ul class="actions special">
										<li><input type="button" id="mod" value="수정" onclick="modify()"/></li>
										<li><input type="button" id="del" value="삭제" onclick="deletePost()"/></li>
									</ul>
								</div>
							</div>
						</form> 
					</section>
				</div>
			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/detail.js"></script>

	</body>
</html>