<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>블로그 | 메인</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<style>
			#posts-body{
				cursor: pointer;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Header -->
    <a href='/'>
			<div id="header">
				<span class="logo icon fa-paper-plane"></span>
				<h1>Hanghae99</h1>
				<p>Node.js Blog / board</p>
				<a href="/login">로그인</a>
				<a href="/join">회원가입</a>
				<button onclick="logout()">로그아웃</button>
			</div>
    </a>

		<!-- Main -->
			<div id="main">
				<div class="box alt container">
					<section>
						<header>
							<h3>게시글</h3>
						</header>
						<div class="table-wrapper">
							<table class="default">
								<thead>
									<tr>
										<th>#</th>
										<th>title</th>
										<th>author</th>
										<th>date</th>
									</tr>
								</thead>
								<tbody id='posts-body'>
								</tbody>
							</table>
						</div>
					</section>
					<a href="/new"class="button">글쓰기</a>
				</div>
			</div>


		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
			<script src="/api.js"></script>
			<script>
		  </script>
	</body>
</html>