<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>블로그 | 상세</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="stylesheet" href="/static/assets/css/detail.css" />
		<style>
			.jumbotron {
			  border-radius: 0;
			}
	  
			@media screen and (max-width: 576px) {
			  .form-group {
				margin-bottom: 0.25rem;
			  }
			}
		  </style>
		  	
	</head>
	<body class="is-preload">

		<!-- Header -->
    <a href='/'>
			<div id="header">
				<span class="logo icon fa-paper-plane"></span>
				<h1>Hanghae99</h1>
				<p>Node.js Blog / board</p>
			</div>
    </a>

		<!-- Main -->
			<div id="main">
				<div class="wrap">
					<div class="card mx-auto" style="max-width: 480px">
					  <div class="card-body">
						<div>
						  <div class="form-group row">
							<label for="inputNickname" class="col-sm-4 col-form-label"
							  >닉네임</label
							>
							<div class="col-sm-8">
							  <input
								type="text"
								class="form-control"
								id="inputNickname"
								placeholder="닉네임"
							  />
							  <!--                                <small id="nicknameHelp" class="form-text text-muted">닉네임을 입력해주세요.</small>-->
							</div>
						  </div>
						  <div class="form-group row">
							<label for="inputEmail" class="col-sm-4 col-form-label"
							  >이메일</label
							>
							<div class="col-sm-8">
							  <div class="input-group">
								<input
								  type="text"
								  class="form-control"
								  id="inputEmail"
								  placeholder="email@email.com"
								/>
								<!--                                    <div class="input-group-append">-->
								<!--                                        <button class="btn btn-outline-sparta" type="button">중복확인</button>-->
								<!--                                    </div>-->
							  </div>
			  
							  <!--                                <small id="emailHelp" class="form-text text-muted">입력 후 중복확인 버튼을 클릭해주세요.</small>-->
							</div>
						  </div>
						  <div class="form-group row">
							<label for="inputPassword1" class="col-sm-4 col-form-label"
							  >비밀번호</label
							>
							<div class="col-sm-8">
							  <input
								type="password"
								class="form-control"
								id="inputPassword1"
								placeholder="영문과 숫자로 6자리 이상"
							  />
							  <!--                                <small id="passwordHelp1" class="form-text text-muted">영문과 숫자로 6자리 이상 입력해주세요.</small>-->
							</div>
						  </div>
						  <div class="form-group row">
							<label for="inputPassword2" class="col-sm-4 col-form-label"
							  >비밀번호 확인</label
							>
							<div class="col-sm-8">
							  <input
								type="password"
								class="form-control"
								id="inputPassword2"
								placeholder="비밀번호 재입력"
							  />
							  <!--                                <small id="passwordHelp2" class="form-text text-muted">비밀번호를 다시 입력해주세요.</small>-->
							</div>
						  </div>
						</div>
						<div class="row d-flex justify-content-around mt-3">
						  <div class="col-6 pr-2">
							<button
							  type="button"
							  class="btn btn-sparta btn-block"
							  onclick="sign_up()"
							>
							  회원가입
							</button>
						  </div>
						  <div class="col-6 pl-2">
							<button
							  type="button"
							  class="btn btn-outline-sparta btn-block"
							  onclick="window.location.href='/'"
							>
							  취소
							</button>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/api.js"></script>
			<script>
				if (localStorage.getItem("token")) {
				  getSelf(function () {
					alert("이미 로그인이 되어있습니다.");
					window.location.replace("/");
				  });
				}
				 function sign_up() {
			const nickname = $("#inputNickname").val();
			const email = $("#inputEmail").val();
			const password1 = $("#inputPassword1").val();
			const password2 = $("#inputPassword2").val();
	
			$.ajax({
			  type: "POST",
			  url: "/users",
			  data: {
				nickname: nickname,
				email: email,
				password: password1,
				confirmPassword: password2,
			  },
			  success: function (response) {
				alert("회원가입을 축하드립니다!")
				  window.location.replace("/login");
			  },
			  error: function (error) {
				alert(error.responseJSON.errorMessage);
			  },
			});
		  }
			</script>
	</body>
</html>