<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>블로그 | 신규</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />

	</head>
	<body class="is-preload">

		<!-- Header -->
    <a href='/'>
			<div id="header">
				<span class="logo icon fa-paper-plane"></span>
				<h1>Hanghae99</h1>
				<p>Node.js Blog / board</p>
			</div>
    </a>

		<!-- Main -->
			<div id="main">
				<div class="box alt container">
					<section>
						<form>
							<div class="row">
								<div class="col-12">
									<input type="text" id="title" placeholder="Title" />
								</div>
								<div class="col-12">
									<textarea id="content" placeholder="Content" rows="6"></textarea>
								</div>
								<div class="col-12">
									<ul class="actions special">
										<li><input type="button" value="글쓰기" onclick="postPost()"/></li>
									</ul>
								</div>
							</div>
						</form> 
					</section>
				</div>
			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="./api.js"></script>
			<script>
			if (localStorage.getItem("token")==null) {
			  getSelf(function () {
				alert("로그인이 되어있지 않습니다. 메인 페이지로 이동합니다.");
				window.location.replace("/");
			  });
			}
			function postPost(){
				$.ajax({
					type: "POST",
					url: `/api/post`,
					headers: {
							"Authorization": `Bearer ${localStorage.getItem("token")}`,
						},
					data: {content:$('#content').val(),title:$('#title').val()},
					success: function (response) {
						window.location.replace("/");
					},
					error: function (error) {
						console.log(error)
						alert(error);
					},
					});
			}
			function redirect(){
				window.location.href="/";
			}
			</script>
	</body>
</html>